* {
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none !important;
}
body #allPosition {
  height: 100%;
  width: 100%;
}
/* 头部 */
.el-header {
  color: #333;
  height: 65px !important;
  width: 100%;
  padding-top: 20px;
  font-weight: bold;
  box-shadow: 0px 1px 4px 1px #cacbcd;
}
/* 引入头部logo */
.headerChild img {
  width: 60px;
  display: block;
}
.headerChild span {
  display: block;
  margin-left: 8px;
  margin-top: 4px;
}
.headerChild img,
.headerChild span {
  float: left;
}

/* user */
.user {
  margin-left: 35px;
  margin-top: 4px;
}
.user span {
  display: block;
  margin-right: 8px;
}
.user div {
  margin-top: -10px;
  cursor: pointer;
}
.user div,
.user span {
  float: left;
}

/* nav 菜单栏 */
.public-nav {
  width: 100%;
  margin-top: -15px;
  margin-left: 20%;
  padding: 0px;
}
.public-nav > li {
  float: left;
  font-size: 15px;
  margin-left: 40px;
}
.public-nav a {
  color: #909090;
  display: block;
  font-size: 15px;
  line-height: 15px;
  padding: 22px 10px 23px;
}
.public-nav a:hover {
  border-bottom: solid 3px #00b5e2;
  padding-bottom: 20px;
}

.produce-show {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-image: linear-gradient(to bottom, #e9eef3, #f9fbfc, #fff);
}
.public-nav .produce:hover > .produce-show {
  display: block;
}
.produce-show-c {
  width: 1200px;
  margin: 38px auto;
}
.produce-show-c dl {
  float: left;
  margin-left: 20px;
}
.produce-show-c dl > dt {
  font-size: 16px;
  margin-bottom: 28px;
  position: relative;
}
.produce-show-c dl > dt:before {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-left: solid 5px;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  position: absolute;
  top: 2px;
  left: -12px;
}
.produce-show-c dl > dd {
  font-size: 13px;
  line-height: 40px;
}
.produce-show-c dl > dd:hover {
  font-weight: bold;
  color: red;
}
.produce-show-c dl:first-of-type ~ dl {
  margin-left: 42px;
}

/* 中间内容部分 start */
.el-main {
  width: 100%;
  color: #333;
  z-index: 100;
  text-align: center;
  padding: 0 18px;
  /* padding值是所有中间内容的  */
}

/* 图标菜单 导航链接 */
.iconNav {
  margin: 25px 0 0 4%;
  /* margin: 25px 0;
  padding: 0 12%; */
}
.iconNav .el-col-3 {
  margin-right: 30px;
}
.iconNav .el-col-3:last-of-type {
  margin-right: 0px;
}
.iconNav ul img {
  width: 40px;
}
.iconNav ul > li:nth-of-type(1) {
  border-radius: 12px;
  box-shadow: 1px 3px 6px 1px #cacbcd;
}
.iconNav li {
  cursor: pointer;
  float: left;
  margin-right: 6px;
  text-align: left;
}
.iconNav li > p {
  line-height: 25px;
  color: #8d8cac;
}
.iconNav li > p:nth-of-type(1) {
  font-size: 20px;
  color: #333;
}
/* 轮播图 */
.content {
  margin: 30px 0;
  padding: 0 2%;

  /* padding值是所有中间内容的  */
}
.content .el-row {
  height: 660px;
  /* 中间内容部分高度 */
}
.content .block {
  width: 91%;
  position: relative;
}

.content .el-carousel__container {
  height: 330px !important;
}
.content i {
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 12px;
  left: 10px;
  font-size: 16px;
}
.content .block .bts {
  position: absolute;
  bottom: 22px;
  left: 30%;
  font-size: 16px;
}
.content img {
  width: 100%;
  height: 100%;
}
/* 轮播图底部导航宽度 */
.el-carousel__indicators--horizontal {
  width: 50% !important;
  position: absolute;
  bottom: 15px;
  left: 85%;
}
.el-carousel__indicators--horizontal button {
  border-radius: 50%;
  border: solid 4px white;
  width: 0;
  height: 0;
}
/* 左边新闻栏 */
.newsLeft {
  width: 450px;
  /* border: solid 1px; */
  margin-top: 10px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.newsLeft div {
  height: 100%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #393a73;
}
.newsLeft div:hover {
  color: red;
}
.newsLeft div > span {
  line-height: 28px;
}
.newsLeft div > span:nth-of-type(1) {
  font-size: 18px;
  margin-right: 4px;
}

/* content中间地图部分 #f5f6fb */
.mapCenter {
  width: 95%;
  height: 100%;
  background-color: #f5f6fb;
  /* border: solid 1px; */
  margin-left: -10px;
}

/* 右边公告栏 */
.informRight {
  position: relative;
  width: 100%;
  height: 100%;
}
.informRight table {
  width: 100%;
  padding: 32px 15px 15px 0px;
}
.informRight p {
  position: absolute;
  left: 0;
  font-weight: bold;
  color: #3a386a;
}
.informRight tr {
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
}
.informRight tr:hover > td:nth-of-type(2) {
  color: red;
}
.informRight tr:hover > td:nth-of-type(1) {
  color: red;
}
.informRight td:nth-of-type(1) {
  float: left;
  width: 70%;
  color: #3b3a73;
}
.informRight td:nth-of-type(2) {
  float: right;
  color: #8d8cac;
}

/* 投资占比分析 */
.rateAnalyse {
  margin-top: 20px;
  width: 100%;
  height: 66%;
  /* background-color: #f5f6fb; */
  position: relative;
}
.rateAnalyse #rateMain {
  position: absolute;
  top: 0px;
  left: 40px;
}
#rateMain div {
}

/* 中间下方布局 */
/* 中间下方 左边 */
.contentBottom {
  width: 95%;
  margin: 30px 0;
  padding: 0 2%;
  /* background-color: #f5f6fb; */
}
.contentBottom .top {
  position: relative;
  width: 100%;
  height: 600px;
}
.conleft {
  width: 48%;
}
.conleft p {
  text-align: left;
  font-weight: bold;
}
.conleft #topLeft {
  margin-top: 30px;
  color: #959bbb;
}
.conleft .details {
  position: absolute;
  top: 390px;
  left: 540px;
  text-align: left;
}
.conleft .details span {
  display: inline-block;
  margin-right: 40px;
  line-height: 26px;
  cursor: pointer;
}
.conleft .details span:first-of-type > span {
  width: 0;
  height: 0;
  border: solid 3px #f979b6;
  border-radius: 50%;
  margin-right: 8px;
}

/* 中间下方 右边 */
.conRight {
  background-color: #f5f6fb;
  margin-left: 32px;
  text-align: left;
  font-weight: bold;
}
/* 中下 底部左边 */
.contentBottom .bottom {
  position: relative;
  width: 100%;
  height: 600px;
}
.contentBottom .bottom p {
  text-align: left;
  font-weight: bold;
}
.contentBottom #bottomLeft {
  /* background-color: #f5f6fb; */
}
.contentBottom #bottomRight {
  /* background-color: #f5f6fb; */
  margin-top: 24px;
}

/* 视频轮播 */

/* 底部 */
.el-footer {
  background-color: #333;
  height: 165px !important;
  margin-top: 500px;
  /* 中间内容还没完全弄完之前的高度 */
}
.el-footer > ul {
  display: block;
  margin: 15px 0 0 12%;
}

.el-footer li,
.el-footer a {
  color: #fff;
  text-decoration: none;
}
.footerChild {
  margin-top: 25px !important;
}
.footerChild > li {
  float: left;
  margin-right: 15px;
}
.footerChild > li:nth-of-type(1) {
  margin-right: 0px;
}
